<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'groups/new' %>
</head>
<body>

  <header>
      <div>
          <%= link_to image_tag('back.png'), groups_path, id: "back-icon" %>
      </div>
      <h2>
        CATEGORIES
      </h2>
      <div>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
  </header>

  <%= form_for(Group.new, url: groups_path) do |f| %>
    <div class="field">
      <%= f.text_field :name, autocomplete: "name" , placeholder: "Name" %>
    </div>
  
    <div class="field">
      <%= f.file_field :icon %>
    </div>
  
    <div class="actions">
      <%= f.submit "Create Group" %>
    </div>
  <% end %>
  
</body>
</html>